<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='user.css') }}">
    <!-- <link rel="stylesheet" href="./static/user.css" -->
    <title>User Profile</title>
</head>
<body>
    <div class="container">
        <div class="column1">
            <img src="https://www.shutterstock.com/image-photo/passport-photo-portrait-asian-smiling-260nw-1062243491.jpg" alt="User Photo" class="center">
        </div>
        <div class="column2">
            <div class="badges">
                <span class="admin-badge">Admin</span>
                <span class="verified-badge">&#10004; Verified</span>
            </div>
            <h2>HAZEL THOMAS</h2>
            <h4>123456</h4>
            <p>&#x260E; 123-456-7890</p> 
            <p>&#x1F4E7; user@example.com</p> 
            <p style="padding-bottom: 15px;">&#x1F3E0; 123 Main St, City</p>
            <p><b>Age &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b>20</p>
            <p><b>Sex &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b>F</p>
            <p><b>Blood Group: </b>B+ve</p>
            <button class="view-more-button">View More</button>
        </div>
    </div>
</body>
</html>
